page-settings-user-page {
  .list-header-md {
    margin-bottom: 0px;
    min-height: 0px;
    .label-md {
      margin: 8px 8px 8px 0; 
    }
  }
  .list-header-ios {
    margin-bottom: 0px;
    min-height: 0px;
    .label-ios {
      margin: 8px 8px 8px 0; 
    }
  }
  #display {
    .item-inner {
      margin-left: 5px;
      font-size: 1.4rem;
      font-style: bold;
    }
    .not-confirmed {
      color: $danger;
    }
  }
  .label {
    margin-left: 13px
  }
  
  .avatar {
    text-align: center;
    #avatar-img {
      width: 80px;
      height: 80px;
      border-radius: 50%;
      overflow: hidden;
      border-color: $metallica;
      border-width: 2px;
      border-style: solid;
    }
    #item-edit {
      position: absolute;
      top: 60%;
      left: 42%;
      margin: 0px;
      color: $whitesnake;
      background-color: $metallica;
    }
  }
  .country-code {
    .label-md {
      margin: 9px 0px 9px 0;
    }
    .label-ios {
      margin: 10px 8px 9px 0;
    }
    .item-inner {
      padding-right: 0px !important;
      border-bottom: none !important;
    }
  }
  #edit-fields {
    margin: 0px 30px;
    .info-top {
      margin: 5px;
      padding: 13px 0px;
      font-size: 1.5rem;
      line-height: 1.5;
      color: $metallica;
      text-align: center;
    }
    .item-md {
      padding: 0px;
    }
    .label {
      margin-left: 0px;
    }
  }

  #footer-button {
    &:before {
      background-image: none;
    }
    padding-left: 2vmin;
    padding-right: 2vmin;
    button{
      margin-top: 4vmin;
      background-color: $deff-leppard;
      border-radius: 0.5em;
      &:disabled{
        background-color: $cranberries;
      }
    }
  }
}
