page-create-user {
ion-content {
    background-color: color($colors, kiss) !important;
    display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
    
    h1{
      text-align: center;
      color: color($colors, radiohead);
      font-weight: bold;
    }

    h2{
      text-align: center;
      color: color($colors, nirvana);
      font-size: 1.5rem;
      width: 70vw;
    }

    .confirmText {
      color: #f1f1f1;
    }

    form {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      padding: 20px;

      .item {
        border: 3px solid color($colors, ozzy-osbourne);
        border-radius: 15px;
        margin: 10px 0 0;
        color: #5D5D5D;
      }
      .country-code {
        padding-left: 0px !important;
        padding-right: 0px !important;
      }

      #buttons {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: row;
        margin-top: 5vmin;

        button{
          margin-top: 0px;
          color: color($colors, whitesnake);
          border-radius: 10px;
        }

        #previous{
          width: 20vw;
          margin-right: 3vw;
          background-color: color($colors, iron-maiden) !important;
        }

        #next{
          width: 60vw;
          background-color: color($colors, keane);
        }
      }
      .country-code {
        ion-label {
          max-width: 100% !important;
          margin: 14px 0px 14px 10px !important;
        }
      }
    }
  }
}