page-create-user {
ion-content {
    background-color: $kiss !important;
    display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
    
    h1{
      text-align: center;
      color: $radiohead;
      font-weight: bold;
    }

    h2{
      text-align: center;
      color: $nirvana;
      font-size: 1.5rem; 
    }

    form {
      padding: 8vw;
      .item {
        border: 3px solid $ozzy-osbourne;
        border-radius: 15px;
        margin: 10px 0 0;
        color: #5D5D5D;
      }
      .country-code {
        padding-left: 0px !important;
        padding-right: 0px !important;
        img {
          height: 16px;
          width: 16px;
        }
      }

      #buttons {
        margin-top: 5vmin;
        padding:0;
        button{
          margin-top: 0px;
          border-radius: 10px;
        }
      }
      #confirmCorreo {
        padding-top: 20px;
      }
      
      #tyc {
         text-align: center;
         padding-top: 30px;
         display: grid;
      }
      .country-code {
        ion-label {
          max-width: 100% !important;
          margin: 14px 0px 14px 10px !important;
        }
      }
    }

    
  }
}