page-create-user {
  ion-content {
    background-color: map-get($colors, 'primary') !important;
  }
  form {
    padding: 20px;
    .item {
      border: 1px solid #f1f1f1;
      border-radius: 15px;
      margin: 10px 0 0;
      color: #5D5D5D;
    }
    .country-code {
      padding-left: 0px !important;
      padding-right: 0px !important;
    }
    .button {
      margin: 20px 0 !important;
    }
    .country-code {
      ion-label {
        max-width: 100% !important;
        margin: 12px 0px 12px 10px !important;
      }
    }
  }
  
}