<ion-content>
    <form *ngIf="!isConfirmingSMS">
        <ion-item>
            <ion-input placeholder="Nombre" name="name" [(ngModel)]="customer.firstName" type="text"></ion-input>
            <ion-icon name="person" color="light-green" item-left></ion-icon>
        </ion-item>

        <ion-item>
            <ion-input placeholder="Apellido" name="lastname" [(ngModel)]="customer.lastName" type="text"></ion-input>
            <ion-icon name="person" color="light-green" item-left></ion-icon>
        </ion-item>

        <ion-item>
            <ion-input placeholder="Correo" name="email" [(ngModel)]="customer.email" type="email"></ion-input>
            <ion-icon name="at" color="light-green" item-left></ion-icon>
        </ion-item>

        <ion-item>
            <ion-input placeholder="Contraseña" name="password" [(ngModel)]="customer.password" type="password"></ion-input>
            <ion-icon name="lock" color="light-green" item-left></ion-icon>
        </ion-item>

        <ion-grid no-padding>
            <ion-row>
                <ion-col col-3>
                    <ion-item class="country-code" (click)="goToSelectCountry()">
                        <span *ngIf="selectedCountry"> {{ selectedCountry.emoji }} {{ selectedCountry.countryCallingCodes[0] }} </span>
                    </ion-item>
                </ion-col>
                <ion-col col-8 offset-1>
                    <ion-item>
                        <ion-input placeholder="Teléfono" name="phone" [(ngModel)]="phone" type="tel"></ion-input>
                        <ion-icon name="call" color="light-green" item-left></ion-icon>
                    </ion-item>
                </ion-col>
            </ion-row>
        </ion-grid>

        <div style="margin-top: 5vh;">
            <button ion-button round full color="light-green" (click)="create()"> Crear Usuario</button>
            <button ion-button round full color="danger" (click)="goBack()">
                Cerrar
            </button>
        </div>
    </form>

    <div *ngIf="isConfirmingSMS">
        <form>
            <h3 class="confirmText">A tu celular llegará un mensajes de texto con el código de confirmación</h3>
            <ion-item>
                <ion-input placeholder="Código" name="codigo" [(ngModel)]="smsCode" type="number"></ion-input>
            </ion-item>
            <div style="margin-top: 5vh;">
                <button ion-button round full color="light-green" (click)="confirmSMS()"> Confirmar</button>
                <button ion-button round full color="danger" (click)="sendCodeAgain()">
                    Reenviar código
                </button>
            </div>
        </form>
    </div>

</ion-content>
