page-confirmation {
    ion-content {
        background-color: map-get($colors, 'primary') !important;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;

        h1{
            text-align: center;
            font-size: 17vmin;
            padding-top: 5vmin;
            margin: 5vmin 0 5vmin 0;
        }
        
        h2{
            text-align: center;
            text-justify: inter-word;
            margin: 0 0 5vmin 0;
        }
        
        #order-review{
            background-color: map-get($colors, 'light');
            border-radius: 25px 25px 25px 25px;
            margin: 10vmin 2vmin 0 2vmin;
            font-size: 4vmin;

            .review{
                display: flex;
                flex-direction: row;
                padding: 3vmin 3vmin 3vmin 5vmin;

                .needItNow{
                    color: map-get($colors, 'danger');
                }
            }

            .review:first-child{
                padding: 5vmin 0 5vmin 7vmin;
                font-size: 5vmin; 
                border-radius: 25px 25px 0 0;
                margin-bottom: 5vmin;
                background-color: map-get($colors, 'secondary');

                ion-icon{
                    margin: 0 2vmin 0 2vmin;
                    font-size: 6vmin;
                }
            }

            ion-icon{
                margin: 0 2vmin 0 2vmin;
                font-size: 5vmin;
            }

            .review:last-child{
                display: flex;
                justify-content: flex-end;
                align-items: flex-end;
                padding-top:0;
                border-radius: 0 0 25px 25px;
                button{
                    margin-top: 3vmin;
                    border-radius: 10px 10px 10px 10px;
                    background-color: map-get($colors, 'secondary');
                }
            }
        }
    }
}
