page-login {

  ion-content {
    display: flex;
    align-items: center;
    justify-content: center;
    background: linear-gradient(-60deg, $kiss 64%, #ffffff 64%);
  }

  .logo-fixit {
    height: 35vmin; 
    width: auto; 
    display: block; 
    margin-left: auto; 
    margin-right: auto; 
    margin-top: 15vmin;
  }
  
  form {
    padding: 0 20px;
    text-align: center;
    .item {
      border: 1px solid $whitesnake;
      border-radius: 10px;
      border-color: $the-strokes;
      margin: 10px 0 0;
      color: $cinderella;
      .top-icon {
        z-index: 100;
      }
    }

    #login-button { 
      background-color: $keane;
      margin: 20px 0;
      border-radius: 10px;
      border-color: $the-strokes;
    }
  }

  #footer {
    &:before {
      background-image: none;
    }
    button {
      padding-top: 20px;
      padding-bottom: 20px;
      background-color: $deff-leppard;
    }
  }
}