  <ion-content>
    <div class="dad" *ngIf="authenticatingUser">
        <img src="assets/fixit-home-white.svg" class="home-icon">
        <div class="spinner">
            <div class="bounce1"></div>
            <div class="bounce2"></div>
            <div class="bounce3"></div>
        </div>
    </div>
    <span *ngIf="!authenticatingUser">
        <img src="assets/logo.png" class="logo-fixit"/>
        
        <form>
            <ion-item>
                <ion-input placeholder="Correo" name="username" [(ngModel)]="username" type="text"></ion-input>
                <ion-icon name="person" item-left></ion-icon>
            </ion-item>

            <ion-item>
                <ion-icon name="lock" item-left></ion-icon>
                <ion-input placeholder="Contraseña" name="password" [(ngModel)]="password" [type]="passwordType" ></ion-input>
                <ion-icon name="eye" *ngIf="passwordType=='password'" class="top-icon" (click)="togglePassword()" item-right></ion-icon>
                <ion-icon name="eye-off" *ngIf="passwordType=='text'" class="top-icon" (click)="togglePassword()" item-right></ion-icon>
            </ion-item>
            <button id="login-button" ion-button round type="button" full (click)="login()">
                Inicia Sesión
            </button>
        </form>
        <div id="signup-footer">
            <p id="signup-text">¿No tienes una cuenta?</p>
            <button id="signup-button" ion-button round type="button" full (click)="signUp()">
                Regístrate
            </button>
        </div>
    </span>


</ion-content>
