page-login {
  ion-content {
    background-color: map-get($colors, 'primary') !important;
  }
  img {
    height: 150px; 
    width: auto; 
    display: block; 
    margin-left: auto; 
    margin-right: auto; 
    margin-top: 15%;
    border-radius: 35%;
  }
  form {
    padding: 20px;
    .item {
      border: 1px solid #f1f1f1;
      border-radius: 15px;
      margin: 10px 0 0;
      color: #5D5D5D;
    }
    .button {
      margin: 20px 0 !important;
    }
  }
  
}