<ion-header>
  <ion-navbar color="transparent">
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <h1> ¿Olvidaste tu contraseña? </h1>
  <form>
    
    <h2 *ngIf="!sent"> Ingresa tu correo con el cual te registraste, 
          y te haremos llegar un email con un enlace para 
          reestablecer tu contraseña. 
    </h2>
    <h2 *ngIf="sent"> Hemos enviado un mensaje a tu correo 
          electrónico, ábrelo y has clic en el enlace. Si no 
          aparece en tu bandeja de entrada revisa la carpeta de 
          correo no deseado. 
    </h2>
    <ion-item>
        <ion-input placeholder="Correo" name="email" [(ngModel)]="email" type="email"></ion-input>
    </ion-item>
    <ion-row id="buttons">
      <button col-12 class="button" ion-button *ngIf="!sent" (click)="send()">Enviar correo</button>
      <button col-12 class="button" ion-button *ngIf="sent" (click)="send()">Reenviar correo</button>
      <button col-12 class="button" ion-button *ngIf="sent" (click)="goHome()">Volver a inicio</button>
    </ion-row>
  </form>
</ion-content> 
