<ion-header>

  <ion-navbar>
    <ion-title>Agenda</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
    <ion-row *ngFor="let work of works" class="row-work">
      <ion-col center text-center width-25 class="card-left-today" *ngIf="isToday(work.date)">
       <ion-icon name="alert"></ion-icon>
        <div class="title1">Ahora</div>
      </ion-col>
      <ion-col center text-center width-25 class="card-left-tomorrow" *ngIf="isTomorrow(work.date)">
        <div class="title1">Mañ</div>
      </ion-col>
      <ion-col center text-center width-25 class="card-left" *ngIf="!isTomorrow(work.date) && !isToday(work.date)">
        <div class="title2">{{ work.date | date:'MMM' }}</div>
        <div class="title1">{{ work.date | date:'dd' }}</div>
        <div class="title3">{{ work.date | date:'shortTime' }}</div>
      </ion-col>
      <ion-col center text-center width-75 class="card-right">
        <ion-row>
          <ion-icon name="clipboard"></ion-icon>
          {{ work.description }}
        </ion-row>
        <ion-row>
          <ion-icon name="person"></ion-icon>
          //Todo (): por definir
        </ion-row>
        <ion-row>
          <ion-icon name="hammer" isActive="true"></ion-icon>
          {{ work.workType.name }}
        </ion-row>
      </ion-col>
    </ion-row>
</ion-content>
