<ion-header [ngClass]="{'hide-header':showheader,'show-header':hideheader}">

  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Agenda</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
  <span *ngIf="works">
    <div *ngIf="works.length == 0" padding text-center class="noWorks">
      <ion-icon name="construct"></ion-icon>
      <h3>No tienes trabajos pendientes.</h3>
      <button ion-button outline round color="metallica" (click)="goToFindWorks()"> pedir nuevo trabajo</button>
    </div>
    <ion-grid *ngIf="works && works.length > 0">
      <ion-row *ngFor="let work of works" class="row-work" (click)="goToDetails(work)">
        <ion-col center text-center col-3 class="card-left-today" *ngIf="isToday(work.date)">
        <ion-icon name="alert"></ion-icon>
          <div class="title1">Ahora</div>
        </ion-col>
        <ion-col center text-center col-3 class="card-left-tomorrow" *ngIf="isTomorrow(work.date)">
          <div class="title1">Mañ</div>
        </ion-col>
        <ion-col center text-center col-3 class="card-left" *ngIf="!isTomorrow(work.date) && !isToday(work.date)">
          <div class="title2">{{ work.date | date:'MMM' }}</div>
          <div class="title1">{{ work.date | date:'dd' }}</div>
          <div class="title3">{{ work.date | date:'shortTime' }}</div>
        </ion-col>
        <ion-col align-self-center col-9 class="card-right">
          <ion-row>
            <ion-icon name="clipboard"></ion-icon>
            {{ work.workType.name }}
          </ion-row>
          <ion-row>
            <ion-icon name="person"></ion-icon>
            <span *ngIf="work.worker"> {{ work.worker.first_name }}  {{ work.worker.last_name }} </span>
            <span *ngIf="!work.worker"> Asingando </span>
          </ion-row>
          <ion-row>
            <ion-icon name="hammer" isActive="true"></ion-icon>
            {{ work.workType.name }}
          </ion-row>
        </ion-col>
      </ion-row>
    </ion-grid>
  </span>
</ion-content>
