page-service-historical {
  .noWorks {
    background: #f1f1f1;
    padding: 20px 25px;
    margin-top: 20px;
    h3 {
      color: color($colors, metallica);
    }
    p {
      color: #717171 !important;
      font-size: 13px !important;
    }
    ion-icon {
       color: color($colors, metallica);
       font-size: 2.2em;
    }
  }
  
  .item-work{
    margin: 15px 0px;
    padding-left: 0px;
    background-color: color($colors, alice-cooper);
    color: color($colors, deff-leppard);
    border-radius: 6px;
    ion-thumbnail[item-left] {
      margin: 0px 16px 0px 0;
    }
    label {
      color: color($colors, korn);
    }
    p {
      color: color($colors, metallica);
    }
  }
  
}
