page-service-historical {
  .noWorks {
    background: #f1f1f1;
    padding: 20px 25px;
    margin-top: 20px;
    h3 {
      color: $metallica;
    }
    button {
      border-color: $metallica;
      color: $metallica;
      border-radius: 10px;
    }
    p {
      color: #717171 !important;
      font-size: 13px !important;
    }
    ion-icon {
       color: $metallica;
       font-size: 2.2em;
    }
  }
  
  .item-divider-md {
    color: $guns-n-roses;
    font-weight: 500;
    font-size: 1.6rem;
    border-bottom: 1px solid $guns-n-roses;
  }

  .item-divider-ios {
    color: $guns-n-roses;
    font-weight: 500;
    font-size: 1.6rem;
    border-bottom: 1px solid $guns-n-roses;
  }

  .item-work {
    margin: 15px 0px;
    padding-left: 0px;
    background-color: $alice-cooper;
    color: $deff-leppard;
    border-radius: 6px;
    ion-thumbnail[item-left] {
      margin: 0px 16px 0px 0;
    }
    label {
      color: $korn;
    }
    p {
      color: $metallica;
    }
    ion-icon {
      color: $deff-leppard;
    }
  }

  // for hidding header on scroll
  .swiper-pagination-fraction, 
  .swiper-pagination-custom, 
  .swiper-container-horizontal 
  > .swiper-pagination-bullets {
    bottom: 0px;
  }

  .scroll-content{
    top:-70px !important;
    padding-top: 60px !important;
  }

  .top-full-color {
    z-index: 10000;
  }
}
