page-service-historical {
  ion-col {
    height: 100%;
  }

  .row-work {
    background: rgba(201, 222, 220, 0.3) !important;
    margin: 15px 0;
    .title1 {
      font-weight: 500;
      font-size: 2.6rem;
      margin: 1rem 0;
    }

    .title2 {
      font-weight: 450;
      font-size: 2rem;
      margin: 1rem 0;
    }

    .title3 {
      margin: 1rem 0;
    }

    .card-left {
      height: 100%;
      background-color: color($colors, secondary);
    }

    .card-left-tomorrow {
      height: 100%;
      background-color: color($colors, warning);
      padding: 30px 0;
    }

    .card-left-today {
      height: 100%;
      padding: 10px 0;
      ion-icon {
        font-size: 3.2em;
      }
      background-color: color($colors, danger);
    }

    .card-right {
      ion-row {
        margin: 10px 0px 10px 16px;
        font-size: 1.5rem;
        white-space: nowrap;
        //TODO not working should show ...
        overflow: hidden;
        text-overflow: ellipsis;
      }
    }
  }
}
