<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon id="menu" name="menu"></ion-icon>
    </button>
  </ion-navbar>
</ion-header>


<ion-content id="body" padding >
  <ion-grid>

    <ion-row id="state">
        <div class="dad" *ngIf="work.state == 'ORDERED'">
            <div class="spinner">
                <div class="bounce1"></div>
                <div class="bounce2"></div>
                <div class="bounce3"></div>
            </div>
        </div>
        <span *ngIf="work.state == 'SCHEDULED'"> Programado </span>
        <span *ngIf="work.state == 'IN_PROGRESS'"> En Progresso </span>
        <span *ngIf="work.state == 'FINISHED'"> Terminado </span>
    </ion-row>

    <!-- This block enable when worker is not yet assigned -->
    <ion-row *ngIf="!work.worker">
      <div *ngIf="work.state != 'IN_PROGRESS'" id="assigning">
          <span>
            Estamos buscando el mejor trabajador para ti.
          </span>
          <span>
            Pronto recibirás una notificación del trabajador asignado.
          </span>
      </div>
    </ion-row>

    <!-- This block enable when worker is asigned -->
    <ion-row *ngIf="work.worker">
      <ion-col col-6 class="avatar">
        <img id="avatar-img" [src]="work.worker.profile_pic">
        <br>
        <p> {{ work.worker.first_name }} {{ work.worker.last_name }} </p>
      </ion-col>
      <ion-col col-6 class="avatar">
        <div *ngIf="work.state == 'IN_PROGRESS'">
          <ion-icon id="check" name="checkmark-circle-outline"></ion-icon>
          <br>
          <label>Identidad de Trabajador Confirmada</label>
        </div>
        <button *ngIf="work.state != 'IN_PROGRESS'" ion-button id="qr-button" clear (click)="registerQR()">
          <div>
          <img id="qr-img" src="https://d30y9cdsu7xlg0.cloudfront.net/png/78107-200.png">
          <br>
          <label>Registra el código del trabajador aquí</label>
          </div>
        </button>
      </ion-col>
    </ion-row>
    
    <ion-row *ngIf="work.worker" style="margin: auto;">
        <button ion-button outline icon-left (click)="callWorker()">
          <ion-icon name="call"></ion-icon>
          Contactar
        </button>
    </ion-row>
    
    <ion-row id="cover">
      <ion-col col-4>
        <ion-card>
          <div class="cover">
            <div class="cover-image-container" [ngStyle]="{'background-image':'url(' + work.workType.icon + ')'}">
            </div>
          </div>
        </ion-card>
      </ion-col>
      <ion-col col-8 id="when">
        <ion-row>
          <button id="schedule" (click)="goToDescription()">
            <ion-icon ios="ios-calendar" md="md-calendar"></ion-icon>
          </button>
          <span>Cuéntanos más de tu problema</span>
        </ion-row>
        <ion-row>
          <button id="now" (click)="help()">
            <ion-icon ios="ios-flash" md="md-flash"></ion-icon>
          </button>
          <span>Preguntas frecuentes</span>
        </ion-row>
      </ion-col>
    </ion-row>

    <div id="bill">
      <div id="header">
        <span>{{ work.workType.name }}</span>
      </div>
      <div id="details">
        <ion-row>
          <ion-col col-1 class="icon">
            <ion-icon ios="ios-pin" md="md-pin"></ion-icon>
          </ion-col>
          <ion-col col-11 >
            {{ "ToDo: Colocar dirección" }}
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col col-1 class="icon">
            <ion-icon ios="ios-calendar" md="md-calendar"></ion-icon>
          </ion-col>
          <ion-col col-11>
            {{ work.date | formatDayOfWeek }}, {{ work.date | formatMonth }} {{work.date.getDate() }}         
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col col-1 class="icon">
            <ion-icon ios="ios-clock" md="md-clock"></ion-icon>
          </ion-col>
          <ion-col col-11 >
            {{ work.date | formatTime }}
          </ion-col>
        </ion-row>
      </div>
    </div>

  </ion-grid>
</ion-content>
