<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Fixit</ion-title>
  </ion-navbar>
</ion-header>


<ion-content padding>
  <ion-grid>
    <ion-row>
      <div class="work-title">
        <!--<ion-icon name="hammer"></ion-icon>-->
        {{ work.workType.name }}
      </div>
    </ion-row>

    <ion-row>
      <div class="work-sub-title">
        <span *ngIf="work.state == 'ORDERED'"> Asignando... </span>
        <span *ngIf="work.state == 'SCHEDULED'"> Programado </span>
        <span *ngIf="work.state == 'IN_PROGRESS'"> En Progresso </span>
      </div>
    </ion-row>

    <ion-row>
      <div class="time">
        <ion-icon name='calendar' icon-left></ion-icon>
        <label>{{ work.date | date:'short' }}</label>
      </div>
    </ion-row>

    <hr style="width: 95%; margin: 15px auto;">

    <ion-row>
      <ion-col col-6 class="avatar">
        <img *ngIf="work.worker" id="avatar-img" [src]="work.worker.profile_pic">
        <img *ngIf="!work.worker" id="avatar-img" src="assets/fixit_default_pf.svg">
        <br>
        <p *ngIf="work.worker"> {{ work.worker.first_name }} {{ work.worker.last_name }} </p>
        <p *ngIf="!work.worker"> Por asignar </p>
      </ion-col>
      <ion-col col-6 class="avatar">
        <div *ngIf="work.state == 'IN_PROGRESS'">
          <ion-icon id="check" name="checkmark-circle-outline"></ion-icon>
          <br>
          <label>Identidad de Trabajador Confirmada</label>
        </div>
        <button *ngIf="work.worker && work.state != 'IN_PROGRESS'" ion-button id="qr-button" clear (click)="registerQR()">
          <div>
          <img id="qr-img" src="https://d30y9cdsu7xlg0.cloudfront.net/png/78107-200.png">
          <br>
          <label>Registra el código del trabajador aquí</label>
          </div>
        </button>
        <p *ngIf="!work.worker && work.state != 'IN_PROGRESS'">
          Estamos buscando el trabajador. Te llegará una notificación apenas sea asingndo.
        </p>
      </ion-col>
    </ion-row>

    <ion-row *ngIf="work.worker" style="margin: auto;">
        <button ion-button outline icon-left (click)="callWorker()">
          <ion-icon name="call"></ion-icon>
          Contactar
        </button>
    </ion-row>
    
    <hr style="width: 95%; margin: 15px auto;">

    <ion-row>
      <ion-col col-6 class="row-left">
        <button ion-button block clear (click)="goToDescription()">
          <div>
            <ion-icon class="icon-top" name='add-circle'></ion-icon>
            <br>
            <label>descripción</label>
          </div>
        </button>
      </ion-col>
      <ion-col col-6 class="row-right">
        <button ion-button block clear (click)="cancelWork()">
          <div>
            <ion-icon class="icon-top" name="close-circle"></ion-icon>
            <br>
            <label>Cancelar</label>
          </div>
        </button>
      </ion-col>
    </ion-row>

  </ion-grid>
</ion-content>
