<ion-header>

  <ion-navbar color="transparent">
    <ion-title color="metallica">Método de pago</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
  <ion-card *ngIf="firstTime">
    <ion-card-content color="metallica">
      Puedes ingresar los datos de pago más tarde. Ten en cuenta que se necesitarán para solicitar un servicio.
    </ion-card-content>
  </ion-card>
  <form [formGroup]="form">
     <ion-label>Nombre como aparece en la tarjeta</ion-label>
     <ion-item>
      <ion-input type="text" [(formControl)]="name"></ion-input>
    </ion-item>
     <ion-label>Número de tarjeta</ion-label>
     <ion-item>
       <ion-icon name="card" item-left></ion-icon>
      <ion-input type="text" [(formControl)]="number"></ion-input>
    </ion-item>
    <div class="errorBox" *ngIf="!number.valid  && (number.dirty || submitAttempt)">
        * requerido.
    </div>
    <ion-row>

       <ion-col>
        <ion-label>Mes Exp</ion-label>
        <ion-item>
          <ion-input type="text" placeholder="MM" [(formControl)]="expirationMonth"></ion-input>
        </ion-item>
        <div class="errorBox" *ngIf="!expirationMonth.valid  && (expirationMonth.dirty || submitAttempt)">
            * requerido.
        </div>  
      </ion-col>

      <ion-col>
        <ion-label>Año Exp.</ion-label>
        <ion-item>
          <ion-input type="text" placeholder="YYYY" [(formControl)]="expirationYear"></ion-input>
        </ion-item>
        <div class="errorBox" *ngIf="!expirationYear.valid  && (expirationYear.dirty || submitAttempt)">
            * requerido.
        </div>  
      </ion-col>

      <ion-col>
        <ion-label>CVC</ion-label>
        <ion-item>
          <ion-input type="text" [(formControl)]="cvc"></ion-input>
        </ion-item>
        <div class="errorBox" *ngIf="!cvc.valid  && (cvc.dirty || submitAttempt)">
            * requerido.
        </div>
      </ion-col>

    </ion-row>

     <!-- <ion-label>Ciudad</ion-label>
    <ion-item class="country-code" (click)="goToSelectCountry()">
        <span *ngIf="selectedCountry"> {{ selectedCountry.emoji }} &nbsp;{{ selectedCountry.name }} </span>
         <ion-icon name="arrow-dropdown" icon-right></ion-icon>
    </ion-item>  -->

  </form>
</ion-content>

<ion-footer>
  <button ion-button block (click)="saveCreditCard()"> Guardar </button>
  <button *ngIf="firstTime" ion-button block (click)="goToFindWorks()"> Mas tarde </button>
</ion-footer>