page-payment-method-page {
  .label-ios {
    margin: 11px 8px 11px 16px;
  }
  .label-md {
    margin: 11px 8px 0px 16px;
  }
  .toolbar-title {
    color: $primary !important;
  }

  ion-navbar {
    ion-title {
      text-align: center;
    }
    ion-icon {
      font-size: 2em;
    }
  }

  .info-top {
    padding: 0px 16px 13px 16px;    
    font-size: 1.5rem;
    line-height: 1.5;
    color: $metallica;
    text-align: center;
  }

  #tpaga-logo {
    margin-top: 50px;
    img {
      height: 50px;
      display: block;
      margin: auto;
    }
  }
}
