page-settings {
  .list-header-md {
    margin-bottom: 0px;
  }
  .list-header-ios {
    margin-bottom: 0px;
  }
  .button-list {
    height: 100%;
    width: 100%;
    color: $metallica;
    text-transform: none;
    padding: 0px;
    ion-row {
      width: 100%;
      .avatar {
        text-align: center;
        #avatar-img {
          width: 80px;
          height: 80px;
          border-radius: 50%;
          overflow: hidden;
          border-color: $metallica;
          border-width: 2px;
          border-style: solid;
        }
      }
      .list-col {
        margin: auto;
        ion-row {
          margin: 5px 0px;
        }
      }
    }
  }
  .no-lines {
    .item-inner {
      border-bottom: none !important;
    }
  }
  .credit-card {
    .label-md {
      background: linear-gradient(to right, $metallica, $guns-n-roses);
      padding: 13px 8px 8px 20px;
      border-radius: 20px 20px 0px 0px;
      margin: 0px 18px 0px 0px;
      color: white;
      word-spacing: 8px;
      img {
        width: 50px;
      }
    }
  }
}
