// http://ionicframework.com/docs/v2/theming/


// App Global Sass
// --------------------------------------------------
// Put style rules here that you want to apply globally. These
// styles are for the entire app and not just one component.
// Additionally, this file can be also used as an entry point
// to import other Sass files to be included in the output CSS.
//
// Shared Sass variables, which can be used to adjust Ionic's
// default Sass variables, belong in "theme/variables.scss".
//
// To declare rules for a specific mode, create a child rule
// for the .md, .ios, or .wp mode classes. The mode class is
// automatically applied to the <body> element in the app.
.toolbar-background {
  background-color: #12A193; 
}

.toolbar-title {
    color: white;
}

.work-icon-container {
  display: -webkit-box;      /* OLD - iOS 6-, Safari 3.1-6 */
  display: -moz-box;         /* OLD - Firefox 19- (buggy but mostly works) */
  display: -ms-flexbox;      /* TWEENER - IE 10 */
  display: -webkit-flex;     /* NEW - Chrome */
  display: flex;
  justify-content: center;
  align-items: center;
}

.center-text {
  text-align: center;
}

.errorBox {
    color: #FF9800;
    padding: 5px 20px;
    font-size: 13px;
    font-weight: 700;
}

.item-menu {
  font-size: 130% !important;
  margin: 10px 0px;
  color: rgba(0, 0, 0, 0.7);
}

ion-backdrop {
  opacity: 0.1 !important;
}

.loading-md .loading-wrapper {
  background: none;
  box-shadow: none;
  transform: scale(2) !important;
}

.loading-ios .loading-wrapper {
  background: none;
  box-shadow: none;
  transform: scale(2) !important;
}

.bar-button {
  color: #f4f4f4;
}

// for autohide header on scroll
.hide-header{
  transition : top 0.25s ease;
  top: -70px;
}
.show-header{
  transition : top 0.25s ease;
  top: 0px;
}
ion-header {
  ion-toolbar {
    ion-list {
      margin: 0 !important;
    }
    h1{
      color: color($colors, metallica);
    }
  }
}

.header-ios .toolbar-background-ios {
  border-style: none;
}

.bar-button {
    color: color($colors, iron-maiden) !important;
}
.header-md::after {
  background-image: none;
}