<ion-menu [content]="content">
  <ion-header>
    <ion-toolbar>
      <ion-list no-lines>
        <button ion-item color="primary">
          <ion-avatar item-left>
            <img src="assets/default_Profile_Picture.png">
          </ion-avatar>
          <h1 *ngIf="customer"> {{ customer.firstName }} </h1>
        </button>
      </ion-list>
    </ion-toolbar>
  </ion-header>

  <ion-content>
    <ion-list no-lines>
      <button menuClose ion-item class="item-menu" *ngFor="let p of pages" (click)="openPage(p)">
        <ion-icon [name]="p.icon" item-left></ion-icon>
        {{p.title}}
      </button>
    </ion-list>
  </ion-content>

</ion-menu>

<ion-nav [root]="rootPage" #content swipeBackEnabled="false"></ion-nav>