<ion-header>

  <ion-navbar>
    <ion-title>Nueva Dirección</ion-title>
    <ion-buttons end>
      <button ion-button clear color="light" (click)="dismiss()">
        <span showWhen="ios">Cerrar</span>
        <ion-icon name="md-close" showWhen="android,windows"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>

</ion-header>


<ion-content>
  <form [formGroup]="form">
    <ion-item>
      <ion-input type="text" [(formControl)]="address" placeholder="Dirección"></ion-input>
    </ion-item>
    <div class="errorBox" *ngIf="!address.valid  && (address.dirty || submitAttempt)">
        * requerido.
    </div>
    <ion-item>
      <ion-input type="text" [(formControl)]="address2" placeholder="Bloque, Apto, Casa ..."></ion-input>
    </ion-item>
    <ion-item>
      <ion-select [(formControl)]="location">
        <ion-option *ngFor="let city of cities" [value]="city"> {{ city }} </ion-option>
      </ion-select>
    </ion-item>
  </form>

  <ion-fab left bottom *ngIf="mapLoaded">
    <button ion-fab color="primary" (click)="centerToLocation()"><ion-icon name="locate"></ion-icon></button>
  </ion-fab>

  <ion-fab right bottom *ngIf="mapLoaded">
    <button ion-fab color="primary" (click)="saveAddress()"><ion-icon name="checkmark"></ion-icon></button>
  </ion-fab>

  <div #map id="map"></div>
  
  
</ion-content>

