<ion-header>

  <ion-toolbar>
    <ion-title>Nueva Dirección</ion-title>
    <ion-buttons start>
      <button ion-button (click)="dismiss()">
        <span color="light" showWhen="ios">Cerrar</span>
        <ion-icon name="md-close" showWhen="android,windows"></ion-icon>
      </button>
      <button ion-button (click)="addMarker()"><ion-icon name="add"></ion-icon>Add Marker</button>
    </ion-buttons>
  </ion-toolbar>

</ion-header>


<ion-content padding>
  <form [formGroup]="form">
    <ion-grid>
      <ion-row>
        <ion-col width-30>
          <ion-item>
            <ion-select [formControl]="trackType">
                <ion-option *ngFor="let trackType of trackTypes">{{ trackType }}</ion-option>
            </ion-select>
          </ion-item>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col width-20>
          <ion-item>
            <ion-input type="text" [formControl]="trackNumber"></ion-input>
          </ion-item>
        </ion-col>
        <ion-col width-10> <ion-item no-lines> # </ion-item> </ion-col>
        <ion-col width-20>
          <ion-item>
            <ion-input type="text" [formControl]="genNumber"></ion-input>
          </ion-item>
        </ion-col>
        <ion-col width-10> <ion-item no-lines> - </ion-item> </ion-col>
        <ion-col width-10>
          <ion-item>
            <ion-input type="text" [formControl]="placaNumber"></ion-input>
          </ion-item>
        </ion-col>

      </ion-row>
      <ion-row>
        <button ion-button class="agendarBtn" block (click)="saveAddress()">Guardar Dirección</button>
      </ion-row>
    </ion-grid>
  </form>

  <div *ngIf="!mapLoaded" class="spinner"></div>
  <div style="height: 100%; width: 100%">
    <div #map id="map"></div>
    <img #locationIcon id="locationIcon" class="locatinoIcon" src="http://www.freeiconspng.com/uploads/blue-location-icon-png-19.png">
    
  </div>
  
  
</ion-content>
