<ion-header [ngClass]="{'hide-header':showheader,'show-header':hideheader}">
  <ion-navbar color="transparent">
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
  </ion-navbar>
</ion-header>

<ion-content>
<div id="body">
  <!-- <button id="back" (click)="goBack()">
      <ion-icon ios="ios-arrow-round-back" md="md-arrow-round-back"></ion-icon>
  </button> -->
  <ion-grid>
    <ion-row id="cover">
      <ion-col col-4>
        <ion-card>
          <div class="cover">
            <div class="cover-image-container" [ngStyle]="{'background-image':'url(' + work.workType.icon + ')'}">
            </div>
          </div>
        </ion-card>
      </ion-col>
      <ion-col col-8 id="when">
        <ion-row>
          <button ion-button  outline full icon-start (click)="editDate()">
            <ion-icon ios="ios-calendar" md="md-calendar"></ion-icon>
            <span *ngIf="!work.date"> Agendar cita </span>
            <span *ngIf="work.date"> Editar fecha </span>
          </button>
        </ion-row>
          <!-- <button id="schedule" (click)="makeDate()">
            <ion-icon ios="ios-calendar" md="md-calendar"></ion-icon>

          </button> -->
        <ion-row *ngIf="!work.asap">
          <button ion-button outline full icon-start (click)="needItNow()">
            <ion-icon ios="ios-flash" color="warning" md="md-flash"></ion-icon>
             Lo necesito ahora mismo
          </button>
        </ion-row>

      </ion-col>
    </ion-row>
    <ion-row id="where">
      <ion-col col-3 id="title">
        <span>¿Dónde?</span>
      </ion-col>
      <ion-col col-9 id="slider">
        <ion-slides>
           <ion-slide *ngFor="let address of addresses">
            <div class="address-card" (click)="selectAddress(address)" >
              <button [ngClass]="{'selected': address.selected, 'not-selected': !address.selected }">
                <ion-icon *ngIf="address.name == 'Casa'" name="home"></ion-icon>
                <ion-icon *ngIf="address.name == 'Trabajo'" name="briefcase"></ion-icon>
                <ion-icon *ngIf="address.name == 'Apto'" name="flag"></ion-icon>
                <ion-icon *ngIf="address.name != 'Casa' && address.name != 'Trabajo' && address.name != 'Apto'" name="cube"></ion-icon>
              </button>
              <span> {{ address.name | addressName }} </span>
            </div>
          </ion-slide>
          <ion-slide>
            <div class="address-card" >
              <button class="not-selected" (click)="newAddress()">
                <ion-icon ios="ios-add" md="md-add"></ion-icon>
              </button>
              <span>Agregar</span>
            </div>
          </ion-slide>
        </ion-slides>
      </ion-col>
    </ion-row>
    <div id="bill">
      <div id="header">
        <span>Servicio: {{ work.workType.name }}</span>
      </div>
      <div id="details">
        <ion-row *ngIf="selectedAddress">
          <ion-col col-1 class="icon">
            <ion-icon ios="ios-pin" md="md-pin"></ion-icon>
          </ion-col>
          <ion-col col-11 >
            {{ selectedAddress.address }}
          </ion-col>
        </ion-row>
        <ion-row *ngIf="work.date">
          <ion-col col-1 class="icon">
            <ion-icon ios="ios-calendar" md="md-calendar"></ion-icon>
          </ion-col>
          <ion-col col-11>
            {{ work.date | formatDayOfWeek }}, {{ work.date | formatMonth }} {{work.date.getDate() }}         
          </ion-col>
        </ion-row>
        <ion-row *ngIf="work.date">
          <ion-col col-1 class="icon">
            <ion-icon ios="ios-clock" md="md-clock"></ion-icon>
          </ion-col>
          <ion-col *ngIf="!work.asap" col-11 >
            {{ work.date | formatTime }}
          </ion-col>
          <ion-col *ngIf="work.asap" col-11 >
              Lo más rápido posible
            </ion-col>
        </ion-row>
      </div>
      <div id="breakdown" *ngIf="dynamicPrice">
        <ion-row *ngFor="let p of dynamicPrice.breakdown">
          <ion-col col-9>
            <span>{{ p.name }}</span>
          </ion-col>
          <ion-col col-3>
            {{ p.price | currency:'usd':true:'4.0' }}
          </ion-col>
        </ion-row>
      </div>
      <div id="breakdown" *ngIf="!dynamicPrice">
        <ion-row>
          <ion-col col-9>
            <span>Servicio</span>
          </ion-col>
          <ion-col class="price" col-3>
            <span>{{ work.workType.price | currency:'usd':true:'4.0' }}</span>
          </ion-col>
        </ion-row>
      </div>
      <div id="total">
        <ion-row>
          <ion-col col-9>
            <span>Total</span>
          </ion-col>
          <ion-col col-3 *ngIf="dynamicPrice">
            {{ dynamicPrice.total | currency:'usd':true:'4.0' }}
          </ion-col>
          <ion-col col-3 *ngIf="!dynamicPrice">
            {{ work.workType.price | currency:'usd':true:'4.0' }}
          </ion-col>
        </ion-row>
      </div>
    </div>
    
  </ion-grid>
  
</div>
</ion-content>

<ion-footer id="request-service">
  <button ion-button full [disabled]="!work.date || !selectedAddress" (click)="sendWork()">
    Solicitar servicio
  </button>
</ion-footer>