<ion-header [ngClass]="{'hide-header':showheader,'show-header':hideheader}">
  <ion-navbar color="transparent">
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
  </ion-navbar>
</ion-header>

<ion-content>
   <div class="category" *ngFor="let category of categories">
    <div class="title-category">{{category.name}}</div> 
    <ion-slides [slidesPerView]="2">
      <ion-slide  *ngFor="let worktype of category.worktypes" >
        <ion-card (click)="goToNextStep(worktype)">
          <div class="cover">
            <div class="cover-image-container" [ngStyle]="{'background-image':'url(' + worktype.icon + ')'}">
            </div>
          </div>
          
            <ion-row class="work-name">
              <div class="name"> {{ worktype.name }} </div>
            </ion-row>
            <ion-row class="row-bottom">
              <p *ngIf="worktype.price_type == 'STANDARIZED' ">
                {{ worktype.price | currency:'usd':true:'4.0' }}
              </p>
              <p *ngIf="worktype.price_type == 'NOT_STANDARIZED' ">
                Desde: {{ worktype.price | currency:'usd':true:'4.0' }}
              </p>
            </ion-row>
        </ion-card>
      </ion-slide>  
    </ion-slides>
   </div> 

</ion-content> 
