<!-- Acá deberia ir la lista de trabajos -->
<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>FixIt</ion-title>
  </ion-navbar>
</ion-header>

<ion-content>
  <!--<ion-list>-->

    <div class="class-title">Trending...</div>
    <ion-slides slides>
      <ion-slide *ngFor="let work of works">
        <ion-card (click)="goToNextStep(work)" [ngStyle]="{'background-image':'url(' + work.icon + ')'}">
          <div class="options">
              {{ work.name }}  
              <p>
              <!--{{ work.description }}-->
              {{ 50000 | currency:'COP':true:'4.0' }}
              </p>
          </div>
        </ion-card>
      </ion-slide>
    </ion-slides>
    <div class="class-title">Otro</div>
    <ion-slides slides>
      <ion-slide *ngFor="let work of works">
        <ion-card (click)="goToNextStep(work)" [ngStyle]="{'background-image':'url(' + work.icon + ')'}">
          <div class="options">
              {{ work.name }}  
              <p>
              <!--{{ work.description }}-->
              {{ 50000 | currency:'COP':true:'4.0' }}
              </p>
          </div>
        </ion-card>
      </ion-slide>
    </ion-slides>
</ion-content> 
