page-find-work {
  .class-title {
    font-size: 2rem;
    color: map-get($colors, 'primary');
    margin: 13px 8px 13px 0;
    padding-left: 16px;
    font-weight: bold;
  }
  ion-slides {
    height: 30%;
    .swiper-slide {
      width: 33% !important;
      height: 80% !important;
      .slide-zoom { 
        height: 100%;
      }
      ion-card {
        height: 100% !important;
        background-size: cover;
        background-repeat: no-repeat;
        background-position: 50% 50%;
        .options {
          position: absolute;
          text-align: left;
          top: 100%;
          width: 100%;
          background-color: white;
          height: 50px;
        }
      }
    }
  }
}